.dot {
    display: flex;
    width: 1.6rem;
    height: 1.6rem;

    span {
        width: 1rem;
        height: 1rem;
        background-color: #e5e7eb;
        margin: 0.3rem;
        border-radius: 50%;
    }
}

.dotActive {
    span {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #8b5cf6;
        margin: 0.2rem;
        border-radius: 0.2rem;
    }
}

.dotFood {
    span {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #ec4899;
        margin: 0.2rem;
        border-radius: 0.2rem;
    }
}
